<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.3/lottie.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const tg = window.Telegram.WebApp;
        tg.expand();
    </script>
    <title>admin-panel</title>
</head>
<body>
    <div class="screen-admin">
        <div class="screen-admin-block">
            <div class="screen-admin-sa sa-add-remove-money"></div>
            <div class="screen-admin-sa sa-ban-unban"></div>
            <div class="screen-admin-sa sa-trach"></div>
            <div class="screen-admin-sa sa-shop"></div>
        </div>

        <div id="sa-add-remove-money" class="screen-admin-main-block-money">
            <div class="screen-admin-main-block-money-txt">Введите ник игрока</div>
            <input id="s-nic-one" type="text" placeholder="ник">

            <div class="screen-admin-main-block-money-block"></div>















            <div class="screen-admin-main-block-money-txt-1">Введите сумму монет</div>
            <input type="number" id="in-1">


            <div class="screen-admin-main-block-money-block-res">
                <div class="screen-admin-main-block-money-block-res-btn">Выдать</div>
                <div class="screen-admin-main-block-money-block-res-btn">Забрать</div>
            </div>


        </div>

        <div id="sa-ban-unban" class="screen-admin-main-block-ban">
            <div class="screen-admin-main-block-money-txt">Введите ник игрока</div>
            <input id="s-nic-two" type="text" placeholder="ник">



            <div class="screen-admin-main-block-ban-block"></div>




            <div class="screen-admin-main-block-money-block-res">
                <div class="screen-admin-main-block-money-block-res-btn">Забанить</div>
                <div class="screen-admin-main-block-money-block-res-btn">Разбанить</div>
            </div>
        </div>



        <div id="sa-trach" class="screen-admin-main-block-trash">
            <div id="move-trach" class="screen-admin-main-block-money-txt">Отчистка поля заявок на продажу монет</div>

        </div>


        <div id="sa-shop" class="screen-admin-main-block-shop">
            <div class="screen-admin-main-block-shop-obsh-ds">
                <div class="screen-admin-main-block-shop-obsh-ds-fd s-gpu"></div>
                <div class="screen-admin-main-block-shop-obsh-ds-fd s-cpu"></div>
                <div class="screen-admin-main-block-shop-obsh-ds-fd s-mouse"></div>
            </div>


            <div id="s-gpu" class="screen-admin-main-block-block-new">
                <div class="screen-admin-main-block-block-new-block">
                    <input id="s-gpu-name" class="name-sambn" type="text" placeholder="Название видеокарты">
                    <input id="s-gpu-bust" class="bust-sambn" type="text" placeholder="буст" value="0.0000000000">
                    <input id="s-gpu-price" class="price-sambn" type="text" placeholder="цена" value="0.0000000000">
                    <div id="f-gpu" class="screen-admin-main-block-block-new-block-sub">Создать</div>
                </div>

                <div class="screen-admin-main-block-block-new-d s"></div>


            </div>

            <div id="s-cpu" class="screen-admin-main-block-block-new">
                <div class="screen-admin-main-block-block-new-block">
                    <input id="s-cpu-name" class="name-sambn" type="text" placeholder="Название процессора">
                    <input id="s-cpu-bust" class="bust-sambn" type="text" placeholder="буст" value="0.0000000000">
                    <input id="s-cpu-price" class="price-sambn" type="text" placeholder="цена" value="0.0000000000">
                    <div id="f-cpu" class="screen-admin-main-block-block-new-block-sub">Создать</div>
                </div>

                <div class="screen-admin-main-block-block-new-d d"></div>

            </div>

            <div id="s-mouse" class="screen-admin-main-block-block-new">
                <div class="screen-admin-main-block-block-new-block">
                    <input id="s-mouse-name" class="name-sambn" type="text" placeholder="Название мыши">
                    <input id="s-mouse-bust" class="bust-sambn" type="text" placeholder="буст" value="0.0000000000">
                    <input id="s-mouse-price" class="price-sambn" type="text" placeholder="цена" value="0.0000000000">
                    <div id="f-mouse" class="screen-admin-main-block-block-new-block-sub">Создать</div>
                </div>

                <div class="screen-admin-main-block-block-new-d v"></div>


            </div>

        </div>

    </div>


    <div class="block-registr">
        <div class="registration-form">
            <input id="l1" type="text" placeholder="Логин" required>
            <input id="l2" type="password" placeholder="Пароль" required>
            <button class="brb" type="reset">Войти</button>
        </div>
    </div>






</body>
    <script type="module" src="./js/index-admin.js"></script>

</html>