<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.3/lottie.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const tg = window.Telegram.WebApp;
        tg.expand();
    </script>
    <title>KostroCoin</title>
</head>
<body>
    <div class="main_page">

        <!-- главныый экран -->
        <div class="screen-main">
            <div class="screen-one-check">ВАШ СЧЕТ</div>
            <div class="screen-one-sum-coin">
                <div class="screen-one-sum-coin-amount">0.0000000000</div>
                <div class="screen-one-sum-coin-coin_img"></div>
            </div>
            <div class="screen-one-click-coin"></div>
            <div class="screen-one_block-options">
                <div class="screen-one_block-options-icon-one"></div>
                <div class="screen-one_block-options-name">Скорость клика</div>
                <div id="amount-click" class="screen-one_block-options-amount">0.0000000000</div>
            </div>
            <div class="screen-one_block-options">
                <div class="screen-one_block-options-icon-two"></div>
                <div class="screen-one_block-options-name">Скорость майнинга</div>
                <div id="amount-miner" class="screen-one_block-options-amount">0.0000000000</div>
            </div>
        </div>

        <!-- экран магазина -->

        <div class="screen-shop">
            <div class="screen-shop-options">
                <div class="screen-shop-options-sh gpu"></div>
                <div class="screen-shop-options-sh cpu"></div>
                <div class="screen-shop-options-sh mouse"></div>
            </div>

            <!-- видеокарты -->
            <div id="gpu" class="screen-shop-container"></div>

            <!-- процессоры -->
            <div id="cpu" class="screen-shop-container"></div>

            <!-- мышки -->
            <div id="mouse" class="screen-shop-container"></div>
        </div>



        <div class="screen-account">
            <div class="screen-account-info-user">
                <img class="screen-account-info-user-photo" src=""></img>
                <div class="screen-account-info-user-name">User</div>
                <div class="screen-account-info-user-check">0.0000000000</div>
            </div>

            <div class="screen-account-sel-buy-referal">
                <div class="screen-account-sel-buy-referal-c sel-buy">
                    <div class="sasbr-sel-buy"></div>
                    <div class="sasbr-sel-buy-txt">Продать / Купить</div>
                    <div id="sel-buy" class="screen-account-sel-buy-referal_blocl-wer"></div>
                </div>
                <div class="screen-account-sel-buy-referal-c referal">
                    <div class="sasbr-referal"></div>
                    <div class="sasbr-sel-buy-txt">Рефералы</div>
                    <div id="referal" class="screen-account-sel-buy-referal_blocl-wer"></div>
                </div>
            </div>

            <div class="screen-account-game-center">
                <div class="screen-account-game-center-g">
                    <div class="screen-account-game-center-g-img og"></div>
                    <div class="screen-account-game-center-g-txt1">Лотерея</div>
                    <div class="screen-account-game-center-g-txt2">Играй и выигрывай кострокойны в лотерее!</div>
                    <div id="game-one" class="screen-account-game-center-g-overlock"></div>
                </div>
                <div class="screen-account-game-center-g">
                    <div class="screen-account-game-center-g-img tg"></div>
                    <div class="screen-account-game-center-g-txt1">Командная лотерея</div>
                    <div class="screen-account-game-center-g-txt2">Две команды люди и боты сражаются друг с другом</div>
                    <div id="game-two" class="screen-account-game-center-g-overlock"></div>
                </div>
            </div>

            <div class="screen-account-top-user">
                <div class="screen-account-top-user-txt">ТОП</div>
                <div class="screen-account-top-user-sort-block">
                    <div class="screen-account-top-user-sort-block-s coin"></div>
                    <div class="screen-account-top-user-sort-block-s click"></div>
                </div>

                <div id="top-coin" class="screen-account-top-user-block-us"></div>

                <div id="top-click" class="screen-account-top-user-block-us"></div>



            </div>
        </div>





        <div class="screen-lat-one">
            <div class="screen-lat-one-txt">Лотерея</div>
            <div id="game-one-off" class="screen-lat-one-off"></div>
            <div class="screen-lat-one-menu">
                <div class="screen-lat-one-menu-slo slo-game"></div>
                <div class="screen-lat-one-menu-slo slo-winer"></div>
            </div>
            <div class="screen-lat-one-sum-coin">
                <div class="screen-lat-one-sum-coin-txt">Сумма KostroCoin:</div>
                <input type="number" id="cs1" placeholder="Мин 10">
            </div>
            <div class="screen-lat-one-btn">Сыграть</div>
            <div class="screen-lat-one-info">
                <div class="screen-lat-one-sum-coin-i">
                    <div class="screen-lat-one-sum-coin-txt">Общая ставка:</div>
                    <div id="stavca_one" class="screen-lat-one-sum-coin-txt2">0</div>
                </div>
                <div class="screen-lat-one-sum-coin-i">
                    <div class="screen-lat-one-sum-coin-txt">До начачала игры:</div>
                    <div id="g1" class="screen-lat-one-sum-coin-txt2">0 сек</div>
                </div>
                <div class="screen-lat-one-sum-coin-i">
                    <div class="screen-lat-one-sum-coin-txt">Участники:</div>
                    <div id="pep_one" class="screen-lat-one-sum-coin-txt2">0 чел</div>
                </div>
            </div>


            <div class="screen-lat-one-people"></div>

            <div class="win-anim one"></div>


            <div class="screen-lat-one-top-block">

            </div>
        </div>


        <div class="screen-lat-two">
            <div class="screen-lat-one-txt">Командная лотерея</div>
            <div id="game-two-off" class="screen-lat-one-off"></div>
            <div class="screen-lat-one-menu">
                <div class="screen-lat-one-menu-slo slo-game"></div>
                <div class="screen-lat-one-menu-slo slo-winer"></div>
            </div>
            <div class="screen-lat-one-sum-coin">
                <div class="screen-lat-one-sum-coin-txt">Сумма KostroCoin:</div>
                <input type="number" id="cs2" placeholder="Мин 10">
            </div>
            <div class="screen-lat-two-btn_onl">
                <div id="people-cmd" class="screen-lat-two-btn">Сыграть за команду Люди</div>
                <div id="bot-cmd" class="screen-lat-two-btn">Сыграть за команду Боты</div>
            </div>
            <div class="screen-lat-one-info">
                <div class="screen-lat-one-sum-coin-i">
                    <div class="screen-lat-one-sum-coin-txt">Общая ставка:</div>
                    <div id="obch_stavca_two" class="screen-lat-one-sum-coin-txt2">0</div>
                </div>
                <div class="screen-lat-one-sum-coin-i">
                    <div class="screen-lat-one-sum-coin-txt">До начачала игры:</div>
                    <div id="g2" class="screen-lat-one-sum-coin-txt2">0 сек</div>
                </div>
                <div class="screen-lat-one-sum-coin-i">
                    <div class="screen-lat-one-sum-coin-txt">Участники:</div>
                    <div id="userUch" class="screen-lat-one-sum-coin-txt2">0 чел</div>
                </div>
                <div class="screen-lat-one-sum-coin-i">
                    <div class="screen-lat-one-sum-coin-txt">Команда людей:</div>
                    <div id="slChel" class="screen-lat-one-sum-coin-txt2">0</div>
                </div>
                <div class="screen-lat-one-sum-coin-i">
                    <div class="screen-lat-one-sum-coin-txt">Команда  ботов:</div>
                    <div id="slBot" class="screen-lat-one-sum-coin-txt2">0</div>
                </div>
            </div>


            <div class="screen-lat-two-gamer">
                <div class="screen-lat-two-gamer-bot">
                    <div class="screen-lat-two-gamer-txt">Команда<br>боты</div>
                </div>
                <div class="screen-lat-two-gamer-people">
                    <div class="screen-lat-two-gamer-txt">Команда<br>люди</div>
                </div>
            </div>

            <div class="screen-lat-one-top-block top-one">

            </div>

            <div class="win-anim two"></div>
        </div>
        



        <div class="screen-referal">
            <div class="screen-lat-one-txt">Пригласи друга!</div>
            <div id="screen-referal-off" class="screen-lat-one-off"></div>
            <div class="screen-referal-gif"></div>
            <div class="screen-referal-info">
                Благодаря вашим друзьям вы сможете получать пассивный доход:<br><br>
                - 1,5% от суммы ставок в Сражениях рефералом<br><br>
                - 5% от нафармленных KostroCoin’ов рефералом
            </div>
            <div class="screen-referal-code-user obloshca">
                <div class="screen-referal-code-user-srcu-code">Код для ваших рефералов</div>
            </div>
            <div class="screen-referal-code-user">
                <div id="rfc-user" class="screen-referal-code-user-srcu-code">0983257922</div>
            </div>
            <div class="screen-referal-code-user obloshca">
                <div class="screen-referal-code-user-srcu-code">Реферальный код</div>
            </div>
            <div class="screen-referal-code-user">
                <input type="number" id="ref-code-user" placeholder="Введите реферальный код">
            </div>
            <div class="screen-referal-code-user obloshca">
                <div id="save-code" class="screen-referal-code-user-srcu-code">Сохранить код</div>
            </div>
        </div>


        <div class="screen-sel">
            <div class="screen-lat-one-txt">Перевести / продать</div>
            <div id="screen-sel-off" class="screen-lat-one-off"></div>


            <div class="screen-sel-btn-all">
                <div class="screen-sel-btn-transfer">Заявка на продажу
                    <div class="screen-sel-btn-transfer-btn"></div>
                    <div class="screen-sel-btn-transfer_block">
                        <div id="screen-sel-btn-transfer-block-off" class="screen-lat-one-off"></div>
                        <div class="screen-sel-btn-transfer_block-txt">Сумма монет для продажи</div>
                        <input type="number" name="" id="sum-prod" placeholder="Сумма KostroCoin">
                        <div class="screen-sel-btn-transfer_block-txt">Курс KostroCoin / руб</div>
                        <input type="number" name="" id="rub-prod" placeholder="Курс">
                        <div id="sub-btn-prod" class="screen-sel-btn-transfer_block-txt sub">Создать</div>


                    </div>
                </div>
                <div class="screen-sel-btn-sel">
                    <div class="screen-sel-btn-sel-btn"></div>
                    <div class="screen-sel-btn-sel-block">
                        <div class="screen-sel-btn-sel-block-txt">Перевод</div>
                        <div id="screen-sel-btn-sel-block-off" class="screen-lat-one-off"></div>
                        <input type="text" id="name-perev" placeholder="Введите ник или id пользователя">
                        <input type="number" id="sum-perev" placeholder="Кол-во KostroCoin">
                        <div id="sub-btn-perevod" class="screen-sel-btn-transfer_block-txt sub">Отправить</div>

                    </div>
                </div>


                <div class="screen-sel-sel-block">
                    <div class="screen-sel-sel-block-sel-transfer">
                        <div class="screen-sel-sel-block-sel-transfe-st st-transfe"></div>
                        <div class="screen-sel-sel-block-sel-transfe-st st-sel"></div>
                    </div>



                    <div class="screen-sel-sel-block-sssb sssb-sel"></div>

                    <div class="screen-sel-sel-block-sssb sssb-transfe"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="navigation-bar">
        <div id="shop-page" class="navigation-bar-btn"></div>
        <div id="home-page" class="navigation-bar-btn"></div>
        <div id="account-page" class="navigation-bar-btn"></div>
    </div>


    <div class="screen-hello">
        <div class="screen-hello-block">
            <div class="screen-hello-block-anim"></div>
            <div class="screen-hello-block-txt">Придумайте ник</div>
            <input type="text" id="st-name">
            <div class="screen-hello-block-txt next">Сохранить</div>
        </div>
    </div>


    <div class="screen-ban">
        <div class="screen-hello-block">
            <div class="screen-ban-block-txt">Аккаунт заблокирован</div>
        </div>
    </div>


    <div class="block-loader">
        <div class="block-loader-coin"></div>
        

    </div>






</body>
    <script type="module" src="./js/index.js"></script>
</html>