.screen-admin{
    position: absolute;
    top: 5px;
    bottom: 10px;
    /* border: 1px solid white; */
    width: 320px;
    left: 0; right: 0;
    margin: auto;
}

.screen-admin-block{
    position: relative;
    width: 320px;
    height: 50px;
    display: flex;
}

.screen-admin-sa{
    position: relative;
    width: calc(320px / 4);
    background-repeat: no-repeat;
    background-position: center;
    top: 10px;
}

.sa-add-remove-money{
    background-image: url('/assets/img/coin.svg');
    background-size: 40px
}
.sa-ban-unban{
    background-image: url('/assets/img/ban-icon.svg');
    background-size: 40px
}
.sa-trach{
    background-image: url('/assets/img/trash-icon.svg');
    background-size: 40px
}

.sa-shop{
    background-image: url('/assets/img/shop-icon.svg');
    background-size: 34px
}

/* окно с выдачей и сбором монет */

.screen-admin-main-block-money{
    position: absolute;
    width: 320px;
    top: 70px;
    bottom: 0px;
}

.screen-admin-main-block-money-txt{
    position: relative;
    border-radius: 10px;
    width: 290px;
    padding: 10px 0px;
    background: #de7b00;
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    margin: 15px auto;
}

.screen-admin-main-block-money-txt-1{
    position: absolute;
    border-radius: 10px;
    width: 290px;
    padding: 10px 0px;
    background: #de7b00;
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    left: 0;
    right: 0;
    bottom: 101px;
    margin: 15px auto;
}

.screen-admin-main-block-money input{
    position: relative;
    border-radius: 10px;
    width: 286px;
    padding: 6px 0px;
    border: 2px solid #de7b00;
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    margin: -3px auto;
    background: transparent;
    left: 14px;
    outline: none;
}

#in-1{
    position: absolute;
    border-radius: 10px;
    width: 286px;
    padding: 6px 0px;
    border: 2px solid #de7b00;
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    margin: -3px auto;
    background: transparent;
    left: 14px;
    outline: none;
    bottom: 71px;
}


.screen-admin-main-block-money-block{
    position: absolute;
    width: 286px;
    top: 117px;
    bottom: 170px;
    border: 2px solid #de7b00;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 0px 0px;
}



.screen-admin-main-block-money-block-user{
    position: relative;
    width: 286px;
    height: 40px;
    margin: 0px 0px 5px;
}

.screen-admin-main-block-money-block-user-ban{
    position: relative;
    width: 286px;
    height: 40px;
    margin: 0px 0px 5px;
}

.screen-admin-main-block-money-block-user-img{
    position: absolute;
    top: 2px;
    left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://t.me/i/userpic/320/4nQet4TE4XmUYK8i1h2buP17yp8y2DMoVj48jttds_8.svg);
    background-size: 37px;
}

.screen-admin-main-block-money-block-user-name{
    position: absolute;
    width: fit-content;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    left: 56px;
    top: 3px;
}

.screen-admin-main-block-money-block-user-money{
    position: absolute;
    width: fit-content;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    left: 56px;
    top: 19px;
}



.screen-admin-main-block-money-block-res{
    position: absolute;
    bottom: 8px;
    width: 290px;
    height: 45px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
}

.screen-admin-main-block-money-block-res-btn{
    position: relative;
    width: calc(265px / 2);
    padding: 11px 0px;
    background: #de7b00;
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 10px;
    margin-left: 8px;
}

.block-off{
    position: absolute;
    width: 300px;
    height: 160px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 3px;
    backdrop-filter: blur(2px);
    border-radius: 10px;
}















/* окно с блокировкой разблокировкой аккаунта */


.screen-admin-main-block-ban{
    display: none;
    position: absolute;
    width: 320px;
    top: 70px;
    bottom: 0px;
    /* border: 1px solid white; */
}

.screen-admin-main-block-ban input{
    position: relative;
    border-radius: 10px;
    width: 286px;
    padding: 6px 0px;
    border: 2px solid #de7b00;
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    margin: -3px auto;
    background: transparent;
    left: 14px;
    outline: none;
}


.screen-admin-main-block-ban-block{
    position: absolute;
    width: 286px;
    top: 117px;
    bottom: 70px;
    border: 2px solid #de7b00;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 0px 0px;
}






/* окно с удалением продаж */

.screen-admin-main-block-trash{
    display: none;
    position: absolute;
    width: 320px;
    top: 70px;
    bottom: 0px;
    /* border: 1px solid white; */
}


/* окно с созданием магазина */


.screen-admin-main-block-shop{
    display: none;
    position: absolute;
    width: 320px;
    top: 70px;
    bottom: 0px;
}

.screen-admin-main-block-shop-obsh-ds{
    position: relative;
    padding: 10px 0px;
    width: 320px;
    height: 40px;
    display: flex;
}

.screen-admin-main-block-shop-obsh-ds-fd{
    position: relative;
    width: calc(320px / 3);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.s-gpu{
    background-image: url('/assets/img/gpu-icon.svg');
    background-size: 30px
}

.s-cpu{
    background-image: url('/assets/img/cpu-icon.svg');
    background-size: 30px
}

.s-mouse{
    background-image: url(/assets/img/mouse-icon.svg);
    background-size: 19px;
    top: -4px;
}

.screen-admin-main-block-block-new{
    position: absolute;
    width: 286px;
    top: 65px;
    bottom: 13px;
    border: 2px solid #00000000;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 0px 0px;
}


#s-gpu{
    display: block;
}

#s-cpu{
    display: none;
}

#s-mouse{
    display: none;
}

.screen-admin-main-block-block-new-block{
    position: relative;
    width: 280px;
    height: 123px;
    background-color: #de7b00;
    border-radius: 10px;
    left: 0; right: 0;
    margin: auto;
}

.name-sambn{
    position: absolute;
    width: 266px;
    top: 5px;
    padding: 7px 0px;
    border: 2px solid black;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin: auto;
    background: transparent;
    text-align: center;
    outline: none;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.bust-sambn{
    position: absolute;
    width: calc(259px / 2);
    top: 44px;
    padding: 7px 0px;
    border: 2px solid black;
    border-radius: 10px;
    left: 5px;
    background: transparent;
    text-align: center;
    outline: none;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.price-sambn{
    position: absolute;
    width: calc(259px / 2);
    top: 44px;
    padding: 7px 0px;
    border: 2px solid black;
    border-radius: 10px;
    right: 5px;
    background: transparent;
    text-align: center;
    outline: none;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.screen-admin-main-block-block-new-block-sub{
    position: absolute;
    width: 266px;
    top: 83px;
    padding: 7px 0px;
    border: 2px solid black;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin: auto;
    background: black;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;

}

.screen-admin-main-block-block-new_card{
    position: relative;
    margin: 10px auto;
    width: 280px;
    height: 38px;
    border-radius: 10px;
    background-color: #de7b00;
    display: flex;
}

.screen-admin-main-block-block-new_card-txt{
    position: relative;
    margin: 10px auto;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
}

.txt-c{
    width: 50px;
    overflow: hidden;
}

.screen-admin-main-block-block-new_card-txt-off{
    position: relative;
    margin: 9px auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/assets/img/close-icon.svg);
    background-size: 23px;
}



/* admin */

.block-registr{
    position: absolute;
    width: 320px;
    height: 100%;
    backdrop-filter: blur(10px);
    left: 0; right: 0;
    margin: auto;
}

.registration-form {
    position: absolute;
    width: 280px;
    height: 125px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}


.registration-form h2 {
    margin-bottom: 20px;
}
.registration-form input {
    width: 92%;
    padding: 10px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #f37a1a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* .registration-form button:hover {
    background-color: #218838;
} */


.screen-admin-main-block-block-new-d{
    position: absolute;
    border-radius: 10px;
    top: 127px;
    border: 2px solid #de7b0000;
    bottom: 0;
    width: 98.5%;
    overflow-x: hidden;
    overflow-y: auto;
}


.hide{
    display: none;
}