.block-loader{
    display: none;
    position: absolute;
    width: 325px;
    height: 100%;
    background-color: #292929;
    left: 0; right: 0;
    margin: auto;
}

.block-loader-coin{
    position: absolute;

}