.screen-main{
    display: block;
    position: absolute;
    top: 10px;
    bottom: 85px;
    width: 325px;
    left: 0; right: 0;
    margin: auto;
    padding: 5px 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.screen-one-check{
    position: relative;
    color: white;
    font-size: 20px;
    width: fit-content;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px auto;
    font-family: sans-serif;
}

.screen-one-sum-coin{
    position: relative;
    width: fit-content;
    display: flex;
    margin: 5px auto;
}

.screen-one-sum-coin-amount{
    position: relative;
    font-family: 'GTA-font';
    font-size: 40px;
    color: white;
}

.screen-one-sum-coin-coin_img{
    position: relative;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../../assets/img/coin.svg);
    background-size: 35px;
    margin-left: 5px;
    top: -6px;
}

.screen-one-click-coin{
    position: relative;
    width: 260px;
    height: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../../assets/img/coin.svg);
    background-size: 235px;
    margin: 15px auto;
}

.screen-one_block-options{
    position: relative;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    background-color: #f07d2bc7;
    box-shadow: 0px 6px 8px 0px #8a4515;
    margin: 20px auto 10px;
}

.screen-one_block-options-icon-one{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../../assets/img/cursor-icon.svg);
    background-size: 23px;
}

.screen-one_block-options-icon-two{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../../assets/img/computer-icon.svg);
    background-size: 28px;
}

.screen-one_block-options-name{
    position: absolute;
    top: 10px;
    left: 60px;
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.screen-one_block-options-amount{
    position: absolute;
    top: 30px;
    left: 60px;
    color: white;
    font-family: 'GTA-font';
    letter-spacing: 1px;
    font-size: 25px;
}