.screen-ban{
    display: none;
    position: absolute;
    width: 325px;
    height: 100%;
    backdrop-filter: blur(10px);
    left: 0;
    right: 0;
    margin: auto;
}

.screen-hello-block{
    position: absolute;
    width: 300px;
    height: 342px;
    background-color: #f07e2d;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

.screen-ban-block-txt{
    position: absolute;
    width: 285px;
    background: black;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 150px 0px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: sans-serif;
}